[Desktop Entry]
Name=Internet Download Manager
Exec=idm
Comment=Download Manager
Type=Application;Internet;
Icon=com.internetdownloadmanager.idm
StartupWMClass=idman.exe
Categories=Network;
Terminal=false
